/* Reset simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(192, 252, 204);
}

/* Cabeçalho */
header {
    background-color: #0c9c18;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.logo h3{
 width: 30px;
}

nav ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul.menu li a:hover {
    color: #FFD700;
}
.servico1 {  
border-radius: 10px;
text-align: center;
width: 270px;
padding: 50px 10px;
margin: 100px auto;
position: relative;
right: 600px;
box-shadow: 0 0 10px;
}
.servico1 p{
    color: white;
}
.servico1 input{
    border-radius: 5px;
    font-family: arial;
    border: none;
    padding: 5px;
}
.botaoimc{
    border-radius: 5px;
    border: none;
    width: 80%;
    padding: 2px;
}
h3{
color: white;
font-family: arial;
}