body{
    background-image: url('fundo1.jpg');
    background-size: cover;
    align-items: center;
}
.login-box{
    text-align: center;
    border: 2px solid rgb(185, 89, 89);
    border-radius: 8px;
    width: 300px;
    padding: 50px 30px;
    margin: 60px auto;
    background-color: transparent;
    position: relative;
    top:-15px;
    left: 110px;
}
.input-box{
    position: relative;
    margin: 20px;
    border-radius: 10px;
    height: 30px;
 
}
.input-box input{
    width: 100%;
    height: 100%;
    color: rgb(185, 37, 62);
    outline: rgb(185, 37, 62);
    border-color: rgb(230, 92, 115);
}
.botao{
    border-radius: 35px;  
    border: none;
    background-color: rgb(185, 37, 62);
    width: 100%;
    padding: 15px 0;
}
.login-invalido{
    color: red;
    text-align: center;
}
