* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  color: #fff;
  background-image: url(backgroundprincipal.png);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #166805;
}