footer {
  background-color: #69d10700;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  font-size: 0.8em;
  font-weight: 200;
}
footer p{
  color: rgb(55, 194, 1);
  font-family: arial;
}