header {
  background-color: #374e2100;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.8em;
  font-weight: 200;
  cursor: pointer;
  font-family: arial;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 1.3em;
  font-size: 1.5em;
}

header h1, a {
  color: #f7f7f7;
  transition: 0.2s ease-in-out;
}

header h1:hover, a:hover {
  color: rgb(55, 194, 1);
}
header p{
  font-family: arial;
  font-size: 25px;
}
.login{
     padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color:rgb(55, 194, 1);
    border: 0;
    border-radius: 30px;
    cursor:pointer;
}
header h1{
  color: rgb(55, 194, 1);
  font-family: arial;

}